# Ignore node_modules (se você usar alguma biblioteca que tenha dependências)
node_modules/

# Ignore arquivos de log
*.log

# Ignore arquivos temporários do editor
.vscode/
.idea/
*.swp
*.swo

# Ignore arquivos gerados por sistemas operacionais
.DS_Store
Thumbs.db

# Ignore arquivos de cache de pacotes ou bibliotecas
*.bak
*.tmp

# Ignore qualquer arquivo de compilação que possa ser gerado
/dist/
/build/

# Ignore arquivos que são específicos para ambientes de desenvolvimento, como arquivos de configuração
/.env
